<!--
  Generated template for the PlanetDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{planet.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <strong>Terrain:</strong> {{planet.terrain}}
</ion-content>
