<!--
  Generated template for the FilmsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Films</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let film of (films | async)?.results" (click)="openDetails(film)">
      {{ film.title }}
    </button>
  </ion-list>
</ion-content>
