<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-tabs>
    <ion-tab [root]="tab1" tabTitle="Films" tabIcon="film"></ion-tab>
    <ion-tab [root]="tab2" tabTitle="People" tabIcon="people"></ion-tab>
    <ion-tab [root]="tab3" tabTitle="Planets" tabIcon="planet"></ion-tab>
  </ion-tabs>
</ion-content>
