<!--
  Generated template for the PeopleDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ person.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding>
    <strong>Year of birth:</strong> {{person.birth_year}}<br>
    <strong>Hair color:</strong> {{person.hair_color}}<br>
    <strong>Gender:</strong> {{person.gender}}<br>
    <strong>Appearances:</strong><br>
  </div>
  <ion-list>
    <button ion-item *ngFor="let film of films" (click)="openDetails(film)">
      {{ film.title }}
    </button>
  </ion-list>
</ion-content>
