<!--
  Generated template for the PeoplePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>People</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let person of (people | async) ?.results" (click)="openDetails(person)">
      {{ person.name }}
    </button>
  </ion-list>
</ion-content>
