<!--
  Generated template for the PlanetsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Planets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let planet of (planets | async) ?.results" (click)="openDetails(planet)">
      {{ planet.name }}
    </button>
  </ion-list>
</ion-content>
